/* unvisited link */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-rendering: optimizeLegibility;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/static/containerbg.jpg);
    background-size:    cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
}
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color:red;
}

/* selected link */
a:active {
    color: orange;
}

.nav-link:visited,
.nav-link:link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.nav-link:hover,
.nav-link:active {
    border-bottom: 2px solid orange;
}


.table {
    background: rgba(255,255,255,0.8);
    border: 2px solid black;
    padding: 0;
    margin: 0;
}

.jumbotron {
    background: rgba(255,165,0,0.9);
    padding: 0;
    margin: 0;
    text-align: center;
    font-weight: 700;
}

.jumbotron .lead {
    font-weight: 700;
    text-align: center;
}

.jumbotron.about{
    background: rgba(255,165,0,0.9);
    padding: 20px;
    margin: 2px;
    text-align: left;
    font-weight: 300;
}

h4 {
    color: orange;
    font-weight: 700;
    text-shadow: 1px 1px #000;
    margin-left: 8px;
}

tr.redbg,
td.redbg {
    background-color: rgba(255,0,0,0.5);
}

tr.orangebg {
    background-color: rgba(255,165,0,0.5);
}

tr.greybg {
    background-color: rgb(138, 138, 138, 0.5);
}

td.greenbg {
    background-color: rgba(79, 248, 93, 0.5);
}

.pagination {
    background: rgba(255,165,0,0.9);
    padding: 0;
    margin: 0;
    text-align: center;
    font-weight: 700;
}
.pagination li {
    margin: 0px 8px 0px 0px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
   
