/* unvisited link */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-rendering: optimizeLegibility;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/static/containerbg.jpg);
    background-size:    cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
}
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color:red;
}

/* selected link */
a:active {
    color: orange;
}

.nav-link:visited,
.nav-link:link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.nav-link:hover,
.nav-link:active {
    border-bottom: 2px solid orange;
}


.table {
    background: rgba(255,255,255,0.8);
}

.jumbotron {
    background: rgba(255,165,0,0.9);
    padding: 0;
    margin: 0;
}

h4 {
    color: orange;
    font-weight: 700;
}

