{% extends 'layout.html' %} 

{% block body %} 

<h4>Vulnarabilities</h4>
{% if results|length > 0 %}

<div class="table-responsive">
        <table class="table">
            <caption>Vulnarabilities</caption>
            <thread>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Id</th>
                    <th scope="col">Package</th>
                    <th scope="col">Severity</th>
                    <th scope="col">Fix</th>
                    <th scope="col">Url</th>
                </tr>
            </thread>
            <tbody>
        {% for i in results %} 
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ i.Id }}</td>
                <td>{{ i.Package }}</td>
                <td>{{ i.Severity }}</td>
                <td>{{ i.Fix }}</td>
                <td><a href="{{ i.Url }}" target="_new">{{ i.Url }}</a></td>
            </tr>
        {% endfor %} 
        </tbody>
        </table>

{% else %}

No Vulnarabilities found!

{% endif %}

{% endblock %}