{% extends 'layout.html' %} 

{% block body %}
<h4>System Status</h4>
<div class="row">
    <div class="col-md-2">
        <div id="policyengine"></div>
    </div>
    <div class="col-md-2">
        <div id="analyzers"></div>
    </div>
    <div class="col-md-2">
            <div id="webhook"></div>
    </div>
    <div class="col-md-2">
            <div id="catalog"></div>
    </div>
    <div class="col-md-2">
            <div id="apiext"></div>
    </div>
    <div class="col-md-2">
            <div id="simplequeue"></div>
    </div>     
</div>


<script>
        var simplequeue = c3.generate({
            bindto: '#simplequeue',
            data: {
                columns: [
                    ['Online', 0],
                    ['Offline', 1],
                ],
                type: 'donut',
                onclick: function (d, i) {
                    console.log("onclick", d, i);
                },
                onmouseover: function (d, i) {
                    console.log("onmouseover", d, i);
                },
                onmouseout: function (d, i) {
                    console.log("onmouseout", d, i);
                },
                colors: {
                    Online: 'green',
                    Offline: 'red',
                }
    
            },
            donut: {
                title: "simplequeue"
            },
            size: {
                height: 200
            }
    
        });

    setTimeout(function () {
        simplequeue.load({
            columns: [
                ["Online", '{{ matrix[4][0]}}'],
                ["Offline", '{{ matrix[4][1]}}'],

            ]
        });
    }, 1500);
</script>


<script>
        var apiext = c3.generate({
            bindto: '#apiext',
            data: {
                columns: [
                    ['Online', 0],
                    ['Offline', 1],
                ],
                type: 'donut',
                onclick: function (d, i) {
                    console.log("onclick", d, i);
                },
                onmouseover: function (d, i) {
                    console.log("onmouseover", d, i);
                },
                onmouseout: function (d, i) {
                    console.log("onmouseout", d, i);
                },
                colors: {
                    Online: 'green',
                    Offline: 'red',
                }
    
            },
            donut: {
                title: "apiext"
            },
            size: {
                height: 200
            }
    
        });

    setTimeout(function () {
        apiext.load({
            columns: [
                ["Online", '{{ matrix[3][0]}}'],
                ["Offline", '{{ matrix[3][1]}}'],

            ]
        });
    }, 1500);
</script>


<script>
        var catalog = c3.generate({
            bindto: '#catalog',
            data: {
                columns: [
                    ['Online', 0],
                    ['Offline', 1],
                ],
                type: 'donut',
                onclick: function (d, i) {
                    console.log("onclick", d, i);
                },
                onmouseover: function (d, i) {
                    console.log("onmouseover", d, i);
                },
                onmouseout: function (d, i) {
                    console.log("onmouseout", d, i);
                },
                colors: {
                    Online: 'green',
                    Offline: 'red',
                }
    
            },
            donut: {
                title: "catalog"
            },
            size: {
                height: 200
            }
    
        });

    setTimeout(function () {
        catalog.load({
            columns: [
                ["Online", '{{ matrix[2][0]}}'],
                ["Offline", '{{ matrix[2][1]}}'],

            ]
        });
    }, 1500);
</script>


<script>
        var webhook = c3.generate({
            bindto: '#webhook',
            data: {
                columns: [
                    ['Online', 0],
                    ['Offline', 1],
                ],
                type: 'donut',
                onclick: function (d, i) {
                    console.log("onclick", d, i);
                },
                onmouseover: function (d, i) {
                    console.log("onmouseover", d, i);
                },
                onmouseout: function (d, i) {
                    console.log("onmouseout", d, i);
                },
                colors: {
                    Online: 'green',
                    Offline: 'red',
                }
    
            },
            donut: {
                title: "webhook"
            },
            size: {
                height: 200
            }
    
        });

    setTimeout(function () {
        webhook.load({
            columns: [
                ["Online", '{{ matrix[1][0]}}'],
                ["Offline", '{{ matrix[1][1]}}'],

            ]
        });
    }, 1500);
</script>
<script>
    var policyengine = c3.generate({
        bindto: '#policyengine',
        data: {
            columns: [
                ['Online', 0],
                ['Offline', 1],
            ],
            type: 'donut',
            onclick: function (d, i) {
                console.log("onclick", d, i);
            },
            onmouseover: function (d, i) {
                console.log("onmouseover", d, i);
            },
            onmouseout: function (d, i) {
                console.log("onmouseout", d, i);
            },
            colors: {
                Online: 'green',
                Offline: 'red',
            }

        },
        donut: {
            title: "policyengine"
        },
        size: {
            height: 200
        }

    });

    setTimeout(function () {
        policyengine.load({
            columns: [
                ["Online", '{{ matrix[5][0]}}'],
                ["Offline", '{{ matrix[5][1]}}'],

            ]
        });
    }, 1500);
</script>

<script>
    var analyzers = c3.generate({
        bindto: '#analyzers',
        data: {
            columns: [
                ['Online', 0],
                ['Offline', 1],
            ],
            type: 'donut',
            onclick: function (d, i) {
                console.log("onclick", d, i);
            },
            onmouseover: function (d, i) {
                console.log("onmouseover", d, i);
            },
            onmouseout: function (d, i) {
                console.log("onmouseout", d, i);
            },
            colors: {
                Online: 'green',
                Offline: 'red',
            }

        },
        donut: {
            title: "Analyzers"
        },
        size: {
            height: 200
        }

    });

    setTimeout(function () {
        analyzers.load({
            columns: [
                ["Online", '{{ matrix[0][0]}}'],
                ["Offline", '{{ matrix[0][1]}}'],

            ]
        });
    }, 1500);
</script>

{% endblock %}