{% extends 'layout.html' %} 

{% block body %} 

<h4>Vulnerabilities</h4>
{% if data['vulnerabilities']|length > 0 %}

<div class="table-responsive">
        <table class="table">
            <caption>Vulnarabilities</caption>
            <thread>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Package</th>
                    <th scope="col">Severity</th>
                    <th scope="col">Fix</th>
                    <th scope="col">Url</th>
                </tr>
            </thread>
            <tbody>
        {% for i in data['vulnerabilities'] %} 
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ i.package }}</td>
                <td>{{ i.severity }}</td>
                <td>{{ i.fix }}</td>
                <td><a href="{{ i.url }}" target="_new">{{ i.url }}</a></td>
            </tr>
        {% endfor %} 
        </tbody>
        </table>

{% else %}

No Vulnerabilities found!

{% endif %}

{% endblock %}